.navbar-sec {
  background-color: #fff !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  z-index: 20;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1500px;
  height: 62px;
}

.nav-logo {
  color: black;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 17px;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
}

.nav-links {
  color: black;
  text-decoration: none;
  height: 100%;
  font-size: 15px;
}

.nav-item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}
.nav-icon {
  display: none;
}
svg.MuiSvgIcon-root.menu-icon {
  /* line-height: 45px; */
  font-size: 23px;
  /* padding: 0px; */
  margin-right: 15px;
}
@media screen and (max-width: 720px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1pxsolid #fff;
    position: absolute;
    top: 62px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background-color: #fff !important;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    margin: 0px;
    padding: 0px;
    border-radius: 2px;
    top: 62px;
  }
  .nav-item .active {
    color: #000;
    border: none;
  }
  .nav-links {
    display: table;
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: 10px;
    left: 0;
    /* transform: translate(-100%, 60%); */
    font-size: 1.8rem;
    cursor: pointer;
    color: #ffdd40;
  }
  .nav-item {
    line-height: 40px !important;
    margin-right: 0px !important;
    border-bottom: 1px solid #f0f0f0;
  }
  img.logoimg {
    width: 40px;
  }
  svg.MuiSvgIcon-root.nav-icon {
    /* position: relative; */
    font-size: 24px;
    color: black;
  }
  a.nav-logo.active {
    color: black;
    text-decoration: none;
  }
  a.nav-link {
    color: black;
    padding: 0px;
  }
}

@media screen and (min-device-width: 721px) and (max-device-width: 2500px) {
  nav.navbar-sec {
    display: none !important;
  }
}
