/* bottom navbar css start*/
.bottom-navbar{
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    background: #fff;
}
.all-categories-list ul li{
    padding: 9px 0px 12px 15px;
    background-color: #FF8E0A;
    width: 200px;
}
.all-categories-list .all-categories-list-ul li a{
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}
.MenuIcon{
    margin-right: 15px;
    font-size: 18px;
}

.all-categories-list .dropdown:hover>.dropdown-menu{
    display: block;
    margin-top: -1px;
    width: 100%;
    padding: 0px;
    
  }
  
.all-categories-list .dropdown>.dropdown-toggle:active {
    pointer-events: none;
}
.all-ctgre-drp-menu ul{
    padding: 0px;
    margin: 0px;
}
.all-ctgre-drp-menu ul li{
    list-style: none;
    background-color: #fff;
    padding: 10px 10px;
    border-bottom:1px solid #FF8E0A ;
} 
.all-ctgre-drp-menu ul li a{
    color:#000 !important;
    padding: 0px 0px ;
    font-weight: 300 !important;
}
.all-ctgre-drp-menu ul li{
    width: 100%;
}
.ChevronRightIcon {
    float: right;
    margin: 0px;
    color: #FF8E0A;
}
.all-ctgre-drp-menu ul li.all-ctgre-drp-list .dropdown-bg{
    padding: 20px;
    margin: 0px;
}
.all-ctgre-drp-menu ul li.all-ctgre-drp-list .dropdown-bg li{
    padding: 8px 15px;
}
.bottom-nav-tap-menu .un-order-list{
    padding: 0px;
    margin: 0px;
    display: flex;
    border-top:1px solid #ccc ;
}
.bottom-nav-tap-menu ul .subnav{
    list-style: none;
    padding: 10px 30px;
}
.bottom-nav-tap-menu ul li a{
    font-size: 16px;
    color: #000;
    text-decoration: none;
    font-weight: 400;
}
.bottom-nav-tap-menu ul li a:hover{
    color:#FF8E0A !important;
    transition: 0.5s;
}
.subnav-content{
    display: none;
    margin-top: 10px;
    position: absolute;
    left: 0;
    background-color:#fff;
    width: 100%;
    z-index: 111;
    height: auto;
    box-shadow: 0 20px 30px rgba(0,0,0,0.15);
}
.subnav-content .mega-menu-main-hdng h5{
    font-weight: 600;
    font-size: 17px;
}
.subnav-content .mega-menu-main-hdng h5:hover{
    color: #FF8E0A ;
    cursor: pointer;
    transition: 0.5s;
}
.subnav-content .column{
    float: left;
    width: 20%;
    padding: 15px;
    padding-left: 30px;
    border-right: 1px solid #000;
    margin: 20px 0px;
}
.subnav-content .column:last-child{
    border-right: none;
}
.subnav-content .column .mega-menu-list ul {
    padding: 0px;
}
.subnav-content .column .mega-menu-list ul li{
    list-style: none;
}
.subnav-content .column .mega-menu-list ul li a{
    float: none;
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
}
.subnav-content .column .mega-menu-list ul li a:hover{
    color: #79b259 !important;
    transition: 0.5s;
}
.subnav:hover .subnav-content {
    display: block;
}





@media screen and (min-device-width:721px) and (max-device-width:820px){
    .bottom-navbar{
        padding: 0px;
    }
    .all-categories-list {
        width: 25%;
    }
    .all-categories-list ul li {
        width: 100%;
    }
    .all-categories-list .all-categories-list-ul li a {
        font-size: 14px;
    }
    .MenuIcon {
        margin-right: 10px;
        font-size: 18px;
    }
    .bottom-nav-tap-menu {
        width: 75%;
        overflow-x: overlay;
    }
    .bottom-nav-tap-menu .un-order-list {
        width: max-content;
        overflow: overlay;
        padding: 0px;
    }
    .bottom-nav-tap-menu ul .subnav{
        padding: 10px 0px;
    }
    .bottom-nav-tap-menu ul li a {
        font-size: 14px;
        padding: 0px 22px;
        font-weight: 500;
    }
    .all-ctgre-drp-menu ul li.all-ctgre-drp-list .dropdown-bg li {
        padding: 10px 6px;
    }
    .subnav-content .column {
        width: 33%;
        padding: 5px;
        padding-left: 25px;
        border-right: 1px solid #000;
        margin: 5px 0px;
    }
}


@media screen and (min-device-width:821px) and (max-device-width:920px){
    .top-navbar ul li {
        padding: 5px 5px;
    }
    .top-navbar ul li a{
        padding: 3px 0px !important;
        font-size: 12px;
    }
    .top-navbar ul li a i {
        margin-right: 5px;
    }
    .nav-dscrpstn {
        display: none;
    }
    .logo-sec {
        width: 25%;
    }
    .logo-sec a img {
        width: 45px;
    }
    .logo-sec a {
        font-size: 1.5rem;
        font-weight: 600;
    }
    .nav-search-bar {
        width: 50%;
        margin-right: 0px;
    }
    .midle-rigth-menu {
        width: 25%;
    }
    .midle-rigth-menu ul li {
        padding: 0px 12px;
    }
    
    .bottom-navbar{
        padding: 0px;
    }
    .all-categories-list {
        width: 25%;
    }
    .all-categories-list ul li {
        width: 100%;
    }
    .all-categories-list .all-categories-list-ul li a {
        font-size: 14px;
    }
    .all-categories-list ul li a i {
        margin-right: 10px;
        font-size: 18px;
    }
    .bottom-nav-tap-menu {
        width: 75%;
        overflow-x: overlay;
    }
    
    .bottom-nav-tap-menu .un-order-list {
        width: max-content;
        overflow: overlay;
        padding: 0px;
    }
    .bottom-nav-tap-menu ul .subnav{
        padding: 10px 0px;
    }
    .bottom-nav-tap-menu ul li a {
        font-size: 14px;
        padding: 0px 23px;
        font-weight: 500;
    }
    .all-ctgre-drp-menu ul li.all-ctgre-drp-list .dropdown-bg li {
        padding: 10px 6px;
    }
    .subnav-content .column {
        width: 33%;
        padding: 5px;
        padding-left: 25px;
        border-right: 1px solid #000;
        margin: 5px 0px;
    }
}

@media screen and (min-device-width:921px) and (max-device-width:1020px){
    .top-navbar ul li {
        padding: 5px 5px;
    }
    .top-navbar ul li a{
        padding: 3px 0px !important;
        font-size: 12px;
    }
    .top-navbar ul li a i {
        margin-right: 5px;
    }
    .nav-dscrpstn {
        display: none;
    }
    .logo-sec {
        width: 25%;
    }
    .logo-sec a img {
        width: 45px;
    }
    .logo-sec a {
        font-size: 1.5rem;
        font-weight: 600;
    }
    .nav-search-bar {
        width: 53%;
        margin-right: 0px;
    }
    .midle-rigth-menu {
        width: 22%;
    }
    .midle-rigth-menu ul li {
        padding: 0px 12px;
    }
    
    .bottom-navbar{
        padding: 0px;
    }
    .all-categories-list {
        width: 25%;
    }
    .all-categories-list ul li {
        width: 100%;
    }
    .all-categories-list .all-categories-list-ul li a {
        font-size: 14px;
    }
    .all-categories-list ul li a i {
        margin-right: 10px;
        font-size: 18px;
    }
    .bottom-nav-tap-menu {
        width: 75%;
        overflow-x: overlay;
    }
    .bottom-nav-tap-menu .un-order-list {
        width: max-content;
        overflow: overlay;
        padding: 0px;
    }
    .bottom-nav-tap-menu ul .subnav{
        padding: 10px 0px;
    }
    .bottom-nav-tap-menu ul li a {
        font-size: 14px;
        padding: 0px 30px;
        font-weight: 500;
    }
    .all-ctgre-drp-menu ul li.all-ctgre-drp-list .dropdown-bg li {
        padding: 10px 6px;
    }
    .subnav-content .column {
        width: 33%;
        padding: 5px;
        padding-left: 25px;
        border-right: 1px solid #000;
        margin: 5px 0px;
    }
}



@media screen and (min-device-width:1021px) and (max-device-width:1260px){
    .top-navbar ul li {
        padding: 5px 5px;
    }
    .top-navbar ul li a{
        padding: 3px 0px !important;
        font-size: 12px;
    }
    .top-navbar ul li a i {
        margin-right: 5px;
    }
    .nav-dscrpstn {
        display: none;
    }
    .logo-sec {
        width: 18%;
    }
    .logo-sec a img {
        width: 45px;
    }
    .logo-sec a {
        font-size: 1.5rem;
        font-weight: 600;
    }
    .nav-dscrpstn {
        display: unset;
        width: 14%;
    }
    .nav-dscrpstn p {
        font-size: 13px;
        font-weight: 500;
        line-height: 14px;
    }
    .nav-search-bar {
        width: 50%;
        margin-right: 10px;
    }
    .midle-rigth-menu {
        width: 18%;
    }
    .midle-rigth-menu ul li {
        padding: 0px 12px;
    }
    .bottom-navbar {
        width: 95%;
        padding: 0px;
        margin: 0px auto;
    }
    .all-categories-list {
        width: 20%;
    }
    .all-categories-list ul li {
        width: 100%;
    }
    .all-categories-list .all-categories-list-ul li a {
        font-size: 14px;
    }
    .all-categories-list ul li a i {
        margin-right: 10px;
        font-size: 18px;
    }
    .bottom-nav-tap-menu {
        width: 80%;
        overflow-x: overlay;
    }
    .bottom-nav-tap-menu .un-order-list {
        width: max-content;
        overflow: overlay;
        padding: 0px;
    }
    .bottom-nav-tap-menu ul .subnav{
        padding: 10px 0px;
    }
    .bottom-nav-tap-menu ul li a {
        font-size: 14px;
        padding: 0px 24px;
        font-weight: 500;
    }
    .all-ctgre-drp-menu ul li.all-ctgre-drp-list .dropdown-bg li {
        padding: 10px 6px;
    }
    .subnav-content .column {
        width: 33%;
        padding: 5px;
        padding-left: 25px;
        border-right: 1px solid #000;
        margin: 5px 0px;
    }
}

@media screen and (min-device-width:1261px) and (max-device-width:1840px){
    .midle-navbar .logo-sec {
        width: 20%;
    }
    .midle-navbar .nav-dscrpstn {
        width: 13%;
    }
    .midle-navbar .nav-search-bar {
        width: 50%;
    }
    .midle-navbar .midle-rigth-menu {
        width: 17%;
    }
    .all-categories-list{
        width: 15%;
    }
    .bottom-nav-tap-menu{
        width:85%;
        overflow: overlay;
    }
    .bottom-nav-tap-menu .un-order-list {
        width: max-content;
    }
}



@media only screen and (max-width: 720px) {
    .bottom-navbar {
        display: none !important;
    }
  }
  