
.top-navbar{
    background-color: #303030;
}
.top-navbar ul li{
    font-size: 15px;
    padding: 2px 8px;
}

svg.MuiSvgIcon-root.material-icons{
    margin-right: 12px;
    color: aliceblue;
    font-size: 20px;
}
span {
    color: aliceblue;
}


@media only screen and (min-device-width:721px) and (max-device-width:820px) {
    .top-navbar ul li{
        font-size: 12px;
        padding: 2px 5px;
    }
    svg.MuiSvgIcon-root.material-icons{
        margin-right: 5px;
        color: aliceblue;
        font-size: 20px;
    }
    span {
        color: aliceblue;
    }

}
@media only screen and (max-width: 720px) {
    .top-navbar.navbar.navbar-expand-sm.p-0 {
        display: none;
    }
}

/* .top-navbar ul li {
    font-size: 12px;
    padding: 2px 8px;
}
span {
    color: aliceblue;
    font-size: 12px;
}
svg.MuiSvgIcon-root.material-icons {
    margin-right: 5px !important;
    color: aliceblue;
    font-size: 12px;
} */