.logo-sec a {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: normal;
  color: #000;
}
.nav-search-bar .sreach-bar {
  display: flex;
}
.nav-search-bar input {
  border: 1px solid #FF8E0A;
  border-radius: 6px 0px 0px 6px;
  padding: 5px 16px;
}
.nav-search-bar button {
  border: 1px solid #FF8E0A;
  padding: 4px 15px;
  border-radius: 0px 6px 6px 0px;
  background-color: #FF8E0A;
  color:#fff;
}

svg.MuiSvgIcon-root.icon {
  font-size: 2.6rem;
  color: #000;
}
.midle-rigth-menu ul li  {
  font-size: 2rem;
  color: #000;
}
.card-pay p {
  font-size: 14px;
  padding-top: 15px;
  margin: 0px;
  font-weight: 400;
  line-height: 17px;
  color: #000;
}
.nav-dscrpstn p {
  font-size: 15px;
  padding: 0px;
  margin: 0px;
  font-weight: 400;
  line-height: 17px;
  padding-right: 13px;
}
.midle-rigth-menu ul li {
  padding: 0px 10px;
  position: relative;
}

svg.MuiSvgIcon-root.searchicon {
  margin-left: 3px;
  color: #fff;
  font-size: 23px;
  padding-top: 2px;
}
.nav-search-bar{
  width: 53%;
  margin-right: 30px;
}
img.logoimg {
  width: 60px;
}
.nav-dscrpstn {
  width: 20%;
}
a.navbar-brand.active.active {
  color: black;
}
span.MuiBadge-badge.MuiBadge-anchorOriginTopRightRectangle {
  color: #fff;
  background: #FF8E0A;
}
img.profile-sec {
  height: 32px;
  width: 25px;
  border-radius: 21px;
}

/* old shopping css */
@media screen and  (min-device-width:721px) and (max-device-width:1024px){
  .nav-dscrpstn p {
      display: none !important;
  }
  .card-pay p {
      display: none !important;
  }
  .nav-search-bar {
      width: 100% !important;
      margin-right: 0px;
  }
  .nav-search-bar button {
      padding: 4px 0px !;
  }
  .midle-rigth-menu ul li {
      padding: 0px 12px;
  }
  .nav-dscrpstn p {
      font-size: 15px;
      padding: 0px;
      margin: 0px;
      font-weight: 400;
      line-height: 17px;
      padding-right: 13px;
  }
  .nav-dscrpstn {
      width: max-content !important;
  }
}
@media screen and  (min-device-width:1024px) and (max-device-width:1400px){
  .nav-dscrpstn {
      width: max-content !important;
      margin-right: 8px !important;
  }
}

@media only screen and (max-width: 720px) {

  .nav-dscrpstn p {
    display: none;
  }
  .card-pay p {
      display: none;
  }
  nav.navbar.navbar-expand-sm.p-0 {
      display: none;
  }
  .midle-navbar {
      display: none !important;
  }
}

